NRL_DATABASE_URL=postgresql://nrl:nrl@localhost:5432/nrl
NRL_LOG_LEVEL=INFO
NRL_WORKER_ID=gateway-tv-1
NRL_TRADINGVIEW_URL=https://www.tradingview.com/chart/
NRL_TRADINGVIEW_LAYOUT=NRL_MASTER
NRL_CHROME_USER_DATA_DIR=/home/niels/.config/google-chrome
NRL_CHROME_PROFILE_DIRECTORY=Default
NRL_SCREENSHOT_DIR=/home/niels/nielsos_research/runtime/screenshots
NRL_HEADLESS=false
NRL_JOB_LEASE_SECONDS=900
NRL_HEARTBEAT_SECONDS=30
NRL_MAX_ATTEMPTS=3
NRL_AUTONOMOUS_START_UTC=02:00
NRL_AUTONOMOUS_END_UTC=14:00
